{% extends 'vjc/shared/base.html'%}

{% block content%}
<div class="container">

<h3 class="text text-success text-center pb-5">About Event</h3>
 
    {%if user.is_authenticated %}

        <h2 class="text mb-3"><U>{{ object.title}}</U></h2>
        {{ object.about_event }}
        
        <h6 class="text mb-4">Organized By {{ object.organiser}}</h6> 
        <h6 class="text mb-4">Location: {{ object.event_loc }}</h6>
        <small class="text-muted">Posted at {{ object.date_posted}}</small>
        {% if object.organiser == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'web_events_update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'web_events_delete' object.id %}">Delete</a>
        {% else %}
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'web_events_rsvp' object.id %}">RSVP</a>
        {% endif%}
        
    {% endif %}

</div>

{% endblock content%}


