{% extends 'vjc/shared/base.html'%}

{% block content%}
<h3 class="text text-success text-center">About Event</h3>
 
<div>
    {%if user.is_authenticated %}
        {{ object.title }}
        {{ object.about_event }}
        {{ object.date_posted }}  
        {% if object.organiser == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'web_events_update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'web_events_delete' object.id %}">Delete</a>
        {% endif%}
        {{ object.organiser }}         
    {% endif %}

</div>

{% endblock content%}


