{% extends 'vjc/shared/base.html'%}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content%}


<h1 class ="text text-center text-black">Log-In</h1>>
    <div class= "container">
        <div class="row mt-5">
            <div class="col-sm-6 offset-sm-3">
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class ="form-group">
                        <label>{{form.username.label}}</label>
                        {% render_field form.username class="form-control" %}
                    </div>
                   
                    <div class ="form-group">
                        <label>{{form.password.label}}</label>
                        {% render_field form.password class="form-control" %}
                        {{form.errors}}
                    </div>
        
                    <div class ="form-group mt-3 d-flex">
                        <button class = "btn btn-success" type ="submit">Log In</button>
                        <button class = "btn btn-danger ml-auto" type ="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
     
    </div>
{% endblock content%} 