{% extends 'vjc/shared/base.html'%}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content%}
<div class="container">
    <div class="media">
        <img  src="{{ user.profile.image.url }}" class= "img-pro">
        <div class="container">
            <h2 class="text text-uppercase">{{ user.username }}</h2>
            
            <p class="text text-secondary">{{ user.email }}</p>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class ="form-group mt-5">
                <h3>Update Profile</h3>
            </div>
            {{ u_form|crispy }}
            {{ p_form|crispy }}  

        <div class ="form-group mt-3 d-flex">
            <button class = "btn btn-success" type ="submit">Update</button>
        
        </div>
    </form>
</div>






{% endblock content%} 